
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  margin: 0 0 10px 0;
  text-align: center;
}

#header {
  color: #fff;
  background: #4777e0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4777e0, #1c4bb5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4777e0, #1c4bb5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4777e0, #1c4bb5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4777e0, #1c4bb5); /* Standard syntax (must be last) */
}

#heading {
  width: 100%;
  margin: 1em;
  display: inline-flex;
}

#title {
  font-size: 30px;
  width: 100%;
  text-shadow: 2px 3px 2px #000;
}

.fa-bars {
  float: right;
  padding-right: 1.5em;
  text-shadow: 2px 3px 2px #000;
}

.fa-bars:hover {
  color: #3f6aca;
}

#drawer {
  z-index: 1;
  color: #fff;
  background: #3f6aca;
  height: 100%;
  padding: 20px 10px 30px 10px;
  text-align: left;
  width: 250px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

#drawer.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.button {
  color: #000000;
  background: #ff4947;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px black;
}

.text__block {
  padding-bottom: .5em;
}

.text {
  font-size: 14px;
}

.searchbox {
  border-style: none;
  border-radius: 5px;
  padding: 2.5px;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#places-search,
#search-within-time-text {
  width: 84%;
}

#toggle-drawing {
  width: 27%;
  position: relative;
  margin-left: 10px;
}

#zoom-to-area-text {
  width: 70%;
}

#zoom-to-area {
  width: 24%;
}
